@model int

<div class="container row mb-4">
    <div class="col-12 text-center">
        <h3 class="text-primary text-center">Order Place Successfully</h3>
        Your Order Number is: @Model <br /> <br />
        <img src="/images/lawn_leaf.jpg" width="45%" />

    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Your Order has been placed successfully!
    </div>
</div>